[user]
  name = Bart Kerkvliet
  email = bkerkvliet@gmail.com
[core]
  editor = vim
	autocrlf = input
	safecrlf = true
[commit]
  template = /home/bart/.gitmessage.txt
[color]
  ui = true
[alias]
  whatsnew = !sh -c 'git shortlog --format=\"%h %s\" $1..HEAD' -
  cancel = reset --soft HEAD^
  oops = reset --soft HEAD^ --
  unstage = reset HEAD --
  unadd = reset HEAD --
  unadd-new = rm --cached
  wtf = log --pretty=format:"%C(auto,yellow)%h%C(auto)%d%C(auto,reset)\\ by\\ %C(auto,blue)%cn%C(auto,reset),\\ %C(auto,cyan)%ar%C(auto,reset)%n\\ %s%n" --stat
  omgwtfbbq = !sh -c '~/Scripts/git-omgwtfbbq'
  co = checkout
  ec = config --global -e
  cob = checkout -b
  cm = !git add -A && git commit -m
  save = !git add -A && git commit -m 'SAVEPOINT'
  wip = !git add -u && git commit -m "WIP" 
  undo = reset HEAD~1 --mixed
  amend = commit -a --amend
  wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
  pl = log --all --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[diff]
  algorithm = patience
[push]
  default = simple
